@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


:root {
    --base-color: #ffffff;
    --text-color: #000000;
    --primary-color: orange;
    --secondary-color: rgb(98, 83, 236);
    --color-1: #F9F6F3;
    --color-2: #F3F7F9;
    --color-3: #F6F3F9;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: Merriweather, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

body {
    padding: 1em;
    background-color: var(--base-color); /* <-- base color is b*/
}

h1, h2, h3 {
    font-family: Merriweather, Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);  /*<-- means nav bar can grow up to 1000px, but never grow wider than the screen size*/
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

nav li:first-child {
    margin-right: auto;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    text-decoration: underline;
}

header, section {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-1); /*<-- color-1 is a light cream color*/
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /*<-- allows the content to stack on smaller screens ( good for phones ;) ) */
    gap: 3em;
}

.flex-container img {
    border-radius: 1em; /*<--Gives square edges a curved to them*/
}

header img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}

.text-container {
    flex: 0 1 34em; /*<-- 0 means the text container won't grow, 1 means shrink if needed, 34em is the flex spaces (aka the preferred width)  */
    /*this means the text container will be 34em wide, but will shrink if needed, and won't grow */
}

/* The "Hey Friends" line */
h1 { 
    font-size: 2.5rem;
}

/* The sentence under "Hey Friends" */
.text-container p {
    margin: .75em 0 1em 0; /* margins for top, L, R, and bottom*/
    font-size: 1.25rem;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: white; 
    background-color: var(--primary-color); /*<-- primary color is a medium blue*/
    padding: .75em 1.25em;
    border-radius: 0.5em;
    font-weight: 600;
}

.secondary {
    background-color: var(--secondary-color); 
}

section {
    padding: 3em min(2em, 15%);
    background-color: var(--color-2);
    text-align: center;
}

/*The "What I do" line*/
h2 {
    font-size: 2rem;
}

section p {
    margin: 1em;
    font-size: 1.25rem;
}

section#my-work {
    background-color: var(--color-3);
}

.grid-container {
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid; /*<-- turns it into a css grid layout*/
    width: 100%;
    grid-template-columns: repeat(4, 1fr); /*1fr stands for one fraction of the available space (this way they're all the same size)*/
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img-1 img-1 img-2 img-2" /*Think of the grid-template columns like this:*/
    "img-1 img-1 img-2 img-2"; /*[] [] [] [] */
    gap: 1em;                  /*[] [] [] [] */
}

.grid-container img {
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease; /*used in conjunction with scale below*/
}

.grid-container img:hover {
    scale: 1.05; /*this creates a zoom effect on mouse hover*/
}

details {
    margin-top: 1em;
    background-color: var(--base-color);
    border-radius: 1em;
}

details summary {
    padding: 1em;
    font-size: 1.7rem;
    font-family: Merriweather, Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

details p {
    /*padding top stays 0 so you don't mess up how it looks when the container is collapsed*/
    padding: 0 2em 2em 2em;
}

footer {
    padding-bottom: 1.5em;
    text-align: center;
}

footer a {
    margin: 0 1em;
    text-decoration: none;
    color: var(--text-color);
}

footer a:hover {
    text-decoration: underline;
}

/*At 988 pixels, the flex wrap will rearrange the elements vertically.
When that happens, a few other changes need to happen too. 
That's what the media query below is for: 
for making the website look good on mobile devices, not just PC*/
@media(max-width: 988px) {
    header {
        text-align: center; /*<-- this looks better on narrow screens*/
    }

    header .text-container {
        padding-top: 0; /*<-- removes extra spacing above the text block to make thing look tighter and more mobile friendly*/
    }
}

@media(max-width: 640px){
    nav li {
        display: none; /*<-- hides nav links on very small screens to save space*/
    }

    nav li:first-child,
    nav li:last-child {
        display: block; /*<-- keeps the first and last nav links visible since they're the most important*/
    }

    header {
        margin-top: 0;
    }

    .cta-button {
        margin-top: .5em; /*<-- Creates space between the LinkedIn (yellow) button and the Portfolio (purple) button*/
        width: 100%;
    }

    .grid-container {
       display: flex; 
       flex-direction: column;
    }

    .text-container p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}
